doctype html
html
   head
      include includes/header.pug
      link(rel='stylesheet' href='/css/dashboard_menu.css' type='text/css')
   body
      div.prompt
        h1 Please Select a Server
      div#guilds
        for guild in guilds
          div.guild
            if guild.icon === null
              img.circle(src="/no_icon.png")
            else
              - const iconURL = `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp?size=64`
              img.circle(src=iconURL)

            a #{guild.name}

            if guild.hasBot
              - const redirect = `window.location.href='/dashboard/${guild.id}'`
              button.small.green(onclick=redirect) Open Dashboard
            else
              - const inviteLink = `window.location.href='/invite?guild_id=${guild.id}'`
              button.small.grey(onclick=inviteLink) Invite Bot
        else
          p Please join a server or create a server that you have Manage Server permmision in to get started!

                
